* {
  text-align: center;
}
body {
  background-color: antiquewhite;
}
.header p {
  background-color: rgb(255 160 0);
  /* border: 1px solid; */
  border-radius: 20px;
  width: 10%;
  height: 31px;
  margin: 2.5% auto 2% auto;
  /* border: gainsboro; */
  position: relative;
  /* top: -18px; */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
/* ----------------------------- */
li {
  display: inline-block;
}
li input:hover {
  cursor: pointer;
}

input {
  text-decoration: none;
  color: black;
  background-color: blanchedalmond;
  border: none;
  width: 111%;
  height: 37px;
  border-radius: 11px;
}

.buttons {
  border: 3px solid white;
  border-radius: 20px;
  padding: 7px;
  padding-left: 0px;
  margin: 0px 45px 6px 26px;
  background-color: blanchedalmond;
  width: 70px;
}

.buttons:hover {
  background-color: rgb(236, 174, 81);
  color: white;
  cursor: pointer;
}
#category {
  font-weight: bolder;
  color: #6d3a33;
  font-size: 20px;
}
/* -------------search--------------- */
.search {
  background-color: rgb(237 172 100);
  width: 69%;
  height: 31px;
  border-radius: 14px;
  margin: 0 auto;
  margin-bottom: 21px;
}
#searchBarText {
  border-radius: 30px;
  border: none;
  height: 30px;
  width: 20%;
  color: #291512;
  font-weight: bolder;
  background-color: #f0dba2;
}
#searchButton {
  width: 14%;
  height: 31px;
  border-radius: 53px;
  border: none;
  background-color: #291512;
  color: wheat;
}
#searchButton:hover {
  cursor: pointer;
}
/* -------------content----------------- */
.img {
  width: 150px;
  height: 150px;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}
.item {
  margin-left: 14px;
  margin-top: 7px;
}
.item p {
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  height: 36px;
  position: relative; /* top: -18px; */
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.bigItem {
  width: auto;
  margin: 0 auto;
  border: 3px solid rgb(237 172 100);
  border-radius: 5px;
  margin-bottom: 15px;
}
/* -------------------------- */
.hidden {
  display: none;
}

/* -------------MODAL------------ */

#modalMain {
  display: none;
  position: sticky;
  flex-direction: column;
  z-index: 1;
  left: 0;
  bottom: 201px;
  width: 68%;
  margin: 0 auto;
  height: 362px;
  justify-items: center;
  align-items: center;
  align-content: center;
}
/* --------------------- */
#closeButton {
  width: 50px;
  height: 50px;
  background-color: #bfffa1;
  border-radius: 14px;
}

#closeButton:hover {
  cursor: pointer;
  background-color: #51ff00;
  border-radius: 14px;
}
/* -------------------- */
#modalContent {
  display: flex;
  flex-direction: row;
  background-color: #aac2b3;
  position: sticky;
  width: 87%;
  height: 400px;
  z-index: -1;
  border: 8px double #54b826;
  align-items: center;
}

#leftArrow{
  width: 50px;
  height: 50px;
  position: sticky;
  left: 73%;
  z-index: 2;
  background-color: #bfffa1;
  border-radius: 25px;
}
#rightArrow {
  width: 50px;
  height: 50px;
  position: sticky;
  left: 73%;
  z-index: 2;
  background-color: #bfffa1;
  border-radius: 25px;
}
#leftArrow:hover {
  cursor: pointer;
  background-color: #4fff00;
  border-radius: 25px;
}
#rightArrow:hover {
  cursor: pointer;
  background-color: #4fff00;
  border-radius: 25px;
}
#modalImage {
  width: 72%;
  position: absolute;
  height: 100%;
  left: 14%; /* border: 8px double gold; */
  /* z-index: 0; */
}

#leftArrow {
  transform: rotate(-180deg);
  position: sticky;
  left: 5px;
  z-index: 2;
  width: 50px;
  height: 50px;
  position: sticky;
  left: 23%;
  z-index: 2;
  background-color: #91e86a;
  border-radius: 25px;
  -webkit-transform: rotate(-180deg);
}
